In [6]:
import numpy as np
import pandas as pd

import statsmodels.formula.api as smf

In [3]:
data = pd.read_csv('data/davertising_budget.csv')
data.shape

(200, 5)

In [5]:
data.drop(columns=['Unnamed: 0'], inplace=True)
data.columns = ['tv','radio','newspaper','sales']
data.head()

      tv  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [26]:
mod1 = smf.ols(formula='sales ~ newspaper', data=data)
res1 = mod1.fit()

In [27]:
print(res1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.052
Model:                            OLS   Adj. R-squared:                  0.047
Method:                 Least Squares   F-statistic:                     10.89
Date:                Thu, 05 Dec 2024   Prob (F-statistic):            0.00115
Time:                        13:00:14   Log-Likelihood:                -608.34
No. Observations:                 200   AIC:                             1221.
Df Residuals:                     198   BIC:                             1227.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     12.3514      0.621     19.876      0.000      11.126      13.577
newspaper      0.0547      0.017      3.300      0.001       0.022       0.087
==============================================================================
Omnibus:                        6.231   Durbin-Watson:                   1.983
Prob(Omnibus):                  0.044   Jarque-Bera (JB):                5.483
Skew:                           0.330   Prob(JB):                       0.0645
Kurtosis:                       2.527   Cond. No.                         64.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [28]:
print(res1.params)

Intercept    12.351407
newspaper     0.054693
dtype: float64

In [45]:
for v in ['tv','radio','newspaper']:
    model =  smf.ols(formula='sales ~ ' + v, data=data)
    res = model.fit()
    h = 12 - len(v)
    #print(h)
    print(f'{v}'+ ' '*h +f'b={res.params[v]:.4f}  p={res.pvalues[v]:.4f}')

tv          b=0.0475  p=0.0000
radio       b=0.2025  p=0.0000
newspaper   b=0.0547  p=0.0011